---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Music" sideBarActiveItemID="music">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold mb-5">Mes compositions</div>
        <div class="mb-10">
            <iframe width="700" height="420" src="https://www.youtube.com/embed/9-24DEPXrcY" title="(FREE)  Ambien/RnB Type beat &quot;PARTICULE&quot;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="mb-10">
            <iframe width="700" height="420" src="https://www.youtube.com/embed/Mmhl0e-92TQ" title="(FREE) Green Montana Type Beat &quot;SPECTRE&quot; - Instru Rap" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="mb-10">
            <iframe width="700" height="420" src="https://www.youtube.com/embed/ha3j08jLoFM" title="(FREE) &quot;Passenger&quot; - Bouyon Instrumental" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</BaseLayout>